h3 {
    font-family: 'Mukta';
    font-size: 24px;
    font-weight: bold;
    color: #293861
}

h2 {
    font-family: 'Mukta';
    font-size: 22px;
    color: #293861
}

p {
    font-family: 'Mukta';
    font-size: 18px;
    font-weight: 100;
    color: #373F49;
}

li {
    font-family: 'Mukta';
    font-size: 18px;
    font-weight: 100;
    color: #373F49;
}