h3 {
    font-size: 20px;
    font-weight: bold;
    color: #293861
}

h2 {
    font-size: 18px;
    color: #293861
}

p {
    font-weight: 100;
    color: #373F49;
}

li {
    font-weight: 100;
    color: #373F49;
}

.container {
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.109512);
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.heroContainer {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: -2%;
    margin-top: -2%;
    height: 300px;
}

.heroImg {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-height: 100%;
}