@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

html {
    font-family: 'Mukta';
}

img {
    display: unset;
    width: unset;
    object-fit: cover;
}

body {
    font-family: "brandon-grotesque", sans-serif;
}

li {
    font-size: 14px;
}